header {
  border-bottom: 1px solid #f0f0f0;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: end;
  button {
    margin-left: auto;
    padding: 5px 15px;
    font-size: 14px;
  }
}
