.dashboard-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  .summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;

    .card {
      background-color: white;
      padding: 1.25rem;
      border-radius: 0.75rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      font-size: 1rem;
      font-weight: 500;
      color: #1f2937;
      place-items: center;
      cursor: pointer;
      span {
        font-size: 80px;
      }
      &.maintenance {
        display: inline;
        line-height: normal;
        span {
          font-size: 30px;
          color: red;
        }
      }
    }
  }
}
